<!DOCTYPE html>
<html>

<head>
  <title>chat3d</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
</head>

<body>
  <header>
    <h1>chat 3d</h1>
  </header>
  <main>
    <div class="input-container">
      <input type="text" id="textbox" value="a yellow cube with phong reflection"
        placeholder="a yellow cube with phong reflection">
      <button id="render-button">Render</button>
    </div>
    <div id="loading" class="loading-container" style="display: none;">
      <img src="/static/loading.gif" width="50px" alt="Loading...">
    </div>
    <div class="content-container">
      <div class="box code-box">
        <h2>Code</h2>
        <pre><code id="code" class="language-javascript"></code></pre>
      </div>
      <div class="box canvas-box">
        <h2>Canvas</h2>
        <canvas id="canvas"></canvas>
      </div>
    </div>
    <div class="examples-container">
      <div class="box examples-box">
        <h2>Examples</h2>
        <div id="canvases">
          <canvas id="canvas-1"></canvas>
          <canvas id="canvas-2"></canvas>
          <canvas id="canvas-3"></canvas>
          <canvas id="canvas-4"></canvas>
        </div>
      </div>
    </div>
  </main>
  <script src="/static/js/app.js"></script>
</body>

</html>