<!DOCTYPE html>
<html>
  <head>
    <title>My Three.js and LangChain Web App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1>My Three.js and LangChain Web App</h1>
    <div class="input-container">
      <input type="text" id="textbox" placeholder="Enter code...">
      <button id="render-button">Render</button>
    </div>
    <div class="content-container">
        <pre id="code"></pre>
        <canvas id="canvas"></canvas>
    </div>
    <script src="/static/js/init_three.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>